<div class="absolute flex flex-col inset-0" >
<mat-toolbar color="primary" (click)="sideNav.toggle()" class="items-center">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="m-4">PowerBuddy</span>
</mat-toolbar>

<mat-sidenav-container class="h-full">
  <mat-sidenav mode="over" #sideNav class="w-1/6 flex">
    <mat-nav-list>
      <a mat-list-item routerLink="" (click)="sideNav.toggle()">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/appliances" (click)="sideNav.toggle()">
        <mat-icon>power</mat-icon>
        Appliances
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
